<h1>New Article</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </div>

  <div>
    <%= form.label :date_of_order %><br>
    <%= form.date_field :date_of_order %>
  </div>

  <div>
    <%= form.label :food_item %><br>
    <%= form.text_area :food_item %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.text_area :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to "Back", users_path %>